{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Paroly chalyshmak{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-warning mt-3">Paroly çalyşmak</h1>
        <h6 class="text-info mt-3">Ilkibaşda öňki bar bolan paroly ýazyň, soňra täze paroly 2 gezek ýazyň</h6>
        <form action="" method="post">{% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-success mt-3 center" value="Üýtgetmek">
        </form>
    </div>

{% endblock content %}