<div class="col-lg-4 mt-3 ">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Gözleg</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Gözleýän sözüňizi ýazyň..."
                       aria-label="Enter search term..." aria-describedby="button-search"/>
                <button class="btn btn-primary" id="button-search" type="button">Gözle!</button>
            </div>
        </div>
    </div>
    <!-- Categories widget-->

        <div class="card mb-4">
            <div class="card-header">Kategoriýa</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        Bärik kategoriýalary ýa-da tegleri ýerleşdirip bileris!
                    </div>
                    {#                    <div class="col-sm-6">#}
                    {#                        <ul class="list-unstyled mb-0">#}
                    {#                            <li><a href="#!">JavaScript</a></li>#}
                    {#                            <li><a href="#!">CSS</a></li>#}
                    {#                            <li><a href="#!">Tutorials</a></li>#}
                    {#                        </ul>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Reklama üçin</div>
        <div class="card-body">Bärik bet reklamalary goýup beris!
        </div>
    </div>
</div>
