{% load static %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Psihologiya</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/headers.css' %}">
{#    <link href="{% static 'css/sticky-footer.css' %}" rel="stylesheet">#}
</head>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

<body class="d-flex flex-column h-100 ">

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #66B032">
    <div class="container">
        <a class="navbar-brand" href="{% url 'article_list' %}">Hi-News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Habarlar</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Hi-Tech</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>

            </ul>
            <div class="dropdown text-end">
                {% if user.is_authenticated %}
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    {{ user.username }}
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'article_new' %}">Täze makala</a></li>
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Paroly çalyşmak</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Çykmak</a></li>
                    </ul>
                {% else %}
                    <form class="form-inline ml-auto">
                        <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Girmek</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary">Hasap açmak</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row">
        <!-- Blog entries-->
        {% block content %}
        {% endblock content %}

    </div>
</div>

<footer class="footer mt-auto py-3 " style="background-color: #375F1B">
  <div class="container">
    <p class="m-0 text-center text-light">Copyright &copy; Hudaykul Altybayev 2023</p>
  </div>
</footer>


{#<script src="{% static 'bootstrap/js/popper.min.js' %}" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>#}
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

</body>
</html>